html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

body{
    margin: 0; 
}

/*styling of the introduction section*/
.introduction{
    background-color: snow; 
    height: 1000px;  
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#myMessage{
    font-size: 30px; 
    color: darkslategrey;  
    position: absolute;  
    top: 40%;  
}

#introHeader{
    color: darkslategrey;   
    position: absolute; 
    float: left;
    font-size: 65px;  
    top: 25%; 
}

/*style the github, linkedin, and resume links*/

#github{
    position: absolute; 
    text-decoration: none; 
    top: 75%; 
    left: 10%; 
}

#githubImg{
    border-radius: 50%; 
}

#resume{
    position: absolute;
    text-decoration: none; 
    top: 75%;
}

#resumeImg{
    border-radius: 50%; 
}

#linkedin{
    position: absolute; 
    text-decoration: none; 
    top: 75%;
    left: 85%;
}

#linkedinImg{
    border-radius: 50%;
}


/*styling of the navigation bar that scrolls with user*/
.link{
    float: right; 
    text-decoration: none; 
    margin-left: 10px;
    margin-right: 10px;   
    list-style-type: none; 
}

.navBar{
    position: fixed; 
    margin: 0;
    padding:0;
    z-index: 1;
    width: 100%;
    background-color: black;
    height: 50px;
}

.navLink{
    display: block;
    color: white;
    text-decoration: none; 
    font-style: bold;
    padding: 8px; 
    font-size: 20px;
}

.navLink:hover{
  color: lightgreen;
}



/*styling the projects sections of the web page*/
.projects{
    background-color: lightyellow; 
    height: 800px; 
    position: relative;
}

#projectHeader{
    text-align: center; 
    font-size: 38px; 
    color: darkslateblue;
    margin: 0; 
}

/*style Ron Swanson project*/
.quoteMachine{
    position: absolute; 
    top: 15%;
    left: 5%; 
    border: 5px solid darkmagenta;  
    background-color: white;
    height: 245px;
}

.quoteMachine p{
    font-size: 15px;
    text-align: center; 
}

/*style Tic Tac Toe project*/
.TTT{
    position: absolute; 
    top: 15%; 
    left: 40%; 
    border: 5px solid darkmagenta; 
    background-color: white; 
    height: 245px; 
}

.TTT p{
    font-size: 15px; 
    text-align: center; 
}
    
/*style the footer which holds all my contact info*/
.contacts{
    background-color: black; 
}

#creator{
    margin: 0; 
    color: white; 
    font-size: 20px; 
    text-align: center; 
}

#phone{
    color: white;
    font-size: 20px;
    text-align: center; 
}

#email{
    color: white;
    font-size: 20px; 
    text-align: center; 
}