html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

body{
    margin: 0; 
    background-image: url("https://images.pexels.com/photos/1038935/pexels-photo-1038935.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow: inset 0 0 0 1000px rgba(88, 247, 154, 0.13);

}


/*styling of the introduction section*/
.introduction{ 
    height: 100%;  
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#myMessage{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;  
    position: absolute;  
    top: 35%;  
}

#introHeader{
    color: whitesmoke;   
    position: absolute; 
    float: left;
    font-size: 75px;  
    top: 25%; 
}

/*style the github, linkedin, and resume links*/

#github{
    position: absolute; 
    text-decoration: none; 
    top: 75%; 
    left: 15%; 
}

#githubImg{
    border-radius: 50%; 
}

#resume{
    position: absolute;
    text-decoration: none; 
    top: 75%;
    left: 35%;
    border: 8px solid black; 
    border-radius: 50%;
}

#resumeImg{
    border-radius: 50%; 
}

#portfolio{
    position: absolute;
    text-decoration: none; 
    top: 75%;
    left: 55%;
    border: 8px solid black;
    border-radius: 50%;
}

#portfolioImg{
    border-radius: 50%;
}

#linkedin{
    position: absolute; 
    text-decoration: none; 
    top: 75%;
    left: 75%;
}

#linkedinImg{
    border-radius: 50%;
}


/*styling of the navigation bar that scrolls with user*/
.link{
    float: right; 
    text-decoration: none; 
    margin-left: 10px;
    margin-right: 10px;   
    list-style-type: none; 
}

.navBar{
    position: fixed; 
    margin: 0;
    padding:0;
    z-index: 1;
    width: 100%;
    background-color: black;
    height: 50px;
}

.navLink{
    display: block;
    color: white;
    text-decoration: none; 
    font-style: bold;
    padding: 8px; 
    font-size: 20px;
}

.navLink:hover{
  color: lightgreen;
}

/*style the footer which holds all my contact info*/
.contacts{
    background-color: black; 
    height: 120px;
}

#creator{
    color: white; 
    font-size: 20px; 
    text-align: center; 
    margin: 0;
}

#phone{
    color: white;
    font-size: 20px;
    text-align: center; 
}

#email{
    color: white;
    font-size: 20px; 
    text-align: center; 
    margin: 0;
}