html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

body{
    margin: 0; 
    background-image: url("https://images.sharefaith.com/images/3/1486074995858_23/img_mouseover3.jpg");
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow: inset 0 0 0 1000px rgba(248, 216, 216, 0.23);

}

/*styling of the navigation bar that scrolls with user*/
.navBar{
    margin: 0;
    padding:0;
    width: 100%;
    background-color: black;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.link{
    float: right; 
    text-decoration: none; 
    margin: 0 10px 0 10px;
    list-style-type: none; 
    text-align: center;
}

.navLink{
    display: block;
    color: white;
    text-decoration: none; 
    font-style: bold;
    font-size: 20px;
}

.navLink:hover{
    color: rgba(247, 82, 82, 0.815);
}

/*My name as a title*/
#introHeader{
    color: rgba(54, 2, 2, 0.7);  
    text-align: center;
    font-size: 100px;  
    margin: 205px 0 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*My message about being an engineer*/
#myMessage{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(54, 2, 2, 0.7); 
    margin: 5px 0 0 0; 
    text-align: center;
}


/*style the github, linkedin, and resume links*/
.introduction{ 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#github{
    text-decoration: none; 
    margin: 35px 10px 0 10px;  
}

#githubImg{
    border-radius: 50%; 
    border: 8px solid rgba(248, 216, 216, 0.11);
    opacity: .7;
}

#githubImg:hover{
    border: 8px solid rgba(247, 82, 82, 0.815);
    border-radius: 50%; 
    opacity: 1;
}

#resume{
    text-decoration: none; 
    margin: 35px 10px 0 10px; 
    border-radius: 50%;
}

#resumeImg{
    border: 8px solid rgba(248, 216, 216, 0.11);; 
    border-radius: 50%; 
    opacity: .7;
}

#resumeImg:hover{
    border: 8px solid rgba(247, 82, 82, 0.815);
    border-radius: 50%; 
    opacity: 1;
}

#portfolio{
    text-decoration: none; 
    margin: 35px 10px 0 10px; 
}

#portfolioImg{
    border: 8px solid rgba(248, 216, 216, 0.11);
    border-radius: 50%;
    opacity: .7;
}

#portfolioImg:hover{
    border: 8px solid rgba(247, 82, 82, 0.815);
    border-radius: 50%;
    opacity: 1;
}


#linkedin{
    text-decoration: none; 
    margin: 35px 10px 0 10px; 
    text-decoration: none; 
}

#linkedinImg{
    border: 8px solid rgba(248, 216, 216, 0.11);
    border-radius: 50%;
    opacity: .7;
}

#linkedinImg:hover{
    border: 8px solid rgba(247, 82, 82, 0.815);
    border-radius: 50%;
    opacity: 1;
}



/*style the footer which holds all my contact info*/
.contacts{
    margin: 0;
    padding:0;
    width: 100%;
    background-color: black;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

#creator{
    color: white; 
    font-size: 20px; 
    text-align: center; 
    margin: 0;
}

#phone{
    color: white;
    font-size: 20px;
    text-align: center; 
    margin: 0;
}

#email{
    color: white;
    font-size: 20px; 
    text-align: center; 
    margin: 0;
}